.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
}

.flex-row-right {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-box-sizing: border-box;
}